<!--@subject {{var quote.getStoreGroupName()}}: Nieuwe offerteaanvraag {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Beste {{htmlescape var=$customer.name}},</h1>

                                Thank you for your Quote Request from {{var quote.getStoreGroupName()}}.<br><br>
                                Within the next 48 hours you can expect our proposal.<br>

                            <h3
                                style="border-bottom: 3px solid rgb(238, 238, 238); font-size: 1.05em; padding-bottom: 1px;">Your
                                Quote #{{var quote.increment_id}} <small>(placed on {{var quote.getCreatedAtFormated('long')}})</small></h3>
                            {{if quote.getCompany()}}{{var quote.getCompany()}} <br>{{/if}}
                            {{var customer.name}} <br>
                            {{var quote.getBillingAddress()}}
                            {{layout handle="qquoteadv_email_qquoteadv_items" quote=$quote}} <br>

                            You can check the status of your Request by <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into your account</a>.<br><br>
                            If you have any questions about your quote request please contact us at <a href="mailto:dummyemail@magentocommerce.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a> or call us at <span class="nobr">(555) 555-0123</span> Monday - Friday, 8am - 5pm PST.
                            </p><br>
                            <p>Thank you again for your trust.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #EAEAEA; text-align: center;"><p style="font-size:12px; margin:0; text-align: center;">Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong></p></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
